/*############################################################
	TABLE OF CONTENT

1. Font Face
############################################################*/

/*########## Font Face ##########*/
@font-face {
	font-family: Poppins-Bold;
	src: url("assets/fonts/Poppins-Bold.ttf");
	font-display: swap;
}

@font-face {
	font-family: Poppins-ExtraBold;
	src: url("assets/fonts/Poppins-ExtraBold.ttf");
	font-display: swap;
}

@font-face {
	font-family: Poppins-Light;
	src: url("assets/fonts/Poppins-Light.ttf");
	font-display: swap;
}

@font-face {
	font-family: Poppins-Medium;
	src: url("assets/fonts/Poppins-Medium.ttf");
	font-display: swap;
}

@font-face {
	font-family: Poppins-Regular;
	src: url("assets/fonts/Poppins-Regular.ttf");
	font-display: swap;
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url("assets/fonts/Poppins-SemiBold.ttf");
	font-display: swap;
}

@font-face {
	font-family: Poppins-Italic;
	src: url("assets/fonts/Poppins-Italic.ttf");
	font-display: swap;
}

.full-width {
	width: 100%;
}

.width-15 {
	width: 15%;
}

.width-200 {
	width: 200px;
}

.width-300 {
	width: 300px;
}

.width-400 {
	width: 400px;
}

.width-500 {
	width: 500px;
}

.margin-rigth-45 {
	margin-right: 45px;
}

.ml-1 {
	margin-left: 0.25rem;
}

.ml-4 {
	margin-left: 1rem;
}

.ml-8 {
	margin-left: 2rem;
}

.text-red {
	color: red;
}

.centered {
	text-align: center;
}

body {
	font-family: Poppins-Regular, Poppins-Bold, Poppins-Light, Poppins-SemiBold !important;
}

/* input[type="file"] {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	font-size: 100px;
	filter: alpha(opacity=0);
	cursor: pointer;
} */

.comments-textarea__control {
	margin-top: 10px;
	margin-bottom: 20px;
}
.comments-textarea__input {
	background-color: #fff;
	border-radius: 3px;
	transition: 0.3s ease-in-out;
	padding: 9px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	border: 1px solid #dedede;
}
.comments-textarea__input:focus {
	outline: none;
	border: 1px solid #3fb9de;
}

.comments-textarea__input:active {
	outline: none;
	border: 1px solid #3fb9de;
}

.comments-textarea__input::placeholder {
	color: #a4b0be;
	font-size: 14px;
}

.comments-textarea__highlighter {
	padding: 10px;
}
.comments-textarea__suggestions__list {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	font-size: 14px;
	max-height: 200px;
	overflow: auto;
}
.comments-textarea__suggestions__item {
	padding: 5px 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.comments-textarea__suggestions__item — focused {
	background-color: #daf4fa;
}

.comments-text__input {
	background-color: #fff;
	border-radius: 3px;
	transition: 0.3s ease-in-out;
	padding: 9px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	border: 1px solid #dedede;
	min-height: 0rem !important;
}
.comments-text__input:focus {
	outline: none;
	border: 1px solid #3fb9de;
}

.comments-text__input:active {
	outline: none;
	border: 1px solid #3fb9de;
}

.comments-text__input::placeholder {
	color: #a4b0be;
	font-size: 14px;
}

.comments-text__highlighter {
	padding: 10px;
}
.comments-text__suggestions__list {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	font-size: 14px;
	max-height: 200px;
	overflow: auto;
}
.comments-text__suggestions__item {
	padding: 5px 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.comments-text__suggestions__item — focused {
	background-color: #daf4fa;
}

.ui.sticky.fixed .ui.grid > .row {
	background-color: #ffffff;
	padding: 30px 0 0 0;
}

.ui.sticky.bound.bottom {
	display: none;
}

.ui.disabled.dropdown {
	opacity: 1 !important;
}

.ui.form .disabled.field {
	opacity: 1 !important;
}

.ui.form .field.error input[type] {
	background: #ffffff !important;
	border: 1px solid #e42354;
}

.ui.form .field.error label {
	color: #4a4a4a !important;
}
/* REACT SEMANTIC UI DATEPICKERS */

/*this should be in component styles, it conflict with element with similar class name */

.ui.segment.clndr-calendars-segment.clndr-floating.clndr-left {
	border-radius: 0.28571429rem;
	border: 1px solid rgba(34, 36, 38, 0.15);
	background: #fff;
	padding: 1em 1em;
}
.field div.field {
	font-family: Poppins-Regular;
	margin-right: 24px;
}

.ui.icon.input {
	width: 100%;
	margin-right: 24px;
	border-radius: 8px;
	background-color: #ffffff;
}

/* .ui.icon.input input {
	border: none;
} */
.ui.icon.input i {
	color: #41a2d9;
	font-size: large;
}
/* END OF REACT SEMANTIC UI DATEPICKERS */

.ui.page.modals.dimmer.transition.visible.active {
	background-color: rgba(0, 0, 0, 0.65);
}
